.dashAdMusic {
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    flex-wrap: wrap;
}

.switchInput {
    filter: drop-shadow(2px 2px 3px black);
}

.dashAdMusic .dashAdMusicInfo {
    max-width: 600px;
    width: 90%;
    background-color: var(--cola);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    line-height: 1.6;
    font-size: 14px;
    border-radius: 8px;
}

.dashAdMusic .dashAdMusicInfo div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.dashAdMusic .dashAdMusicInfo div h4 {
    font-size: 1.6rem;
} 

.dashAdMusic .dashAdMusicInfo ul {
    margin-left: 1rem;
}

.dashAdMusic .dashAdMusicInfo ul li {
    margin-bottom: 12px;
}

.dashAdMusic .dashAdMusicInfo ul li .dashAdMusicSpan {
    color: var(--cold);
}