.bodyList {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 3rem auto;
    gap: 1rem;
    padding-left: 4px;
}

.bodyList h2 {
    padding-left: 5%;
}

.bodyList .bodyListSect {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.7rem;
}

.bodyList .bodyListSect .bodyListSectCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 0px 5px black;
    padding-bottom: 1rem;
    gap: 1rem;
    width: 140px;
}

.bodyList .bodyListSect .bodyListSectCard:hover .bodyListImg .bodyListImgIcons {
    display: flex;
}

.bodyList .bodyListSect .bodyListSectCard:hover .bodyListImg {
    opacity: 0.8;
}

.bodyList .bodyListSect .bodyListSectCard .bodyListImg {
    position: relative;
}

.bodyList .bodyListSect .bodyListSectCard .bodyListImg .bodyListImgIcons {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 5px;
    right: 8px;
    height: 90%;
    justify-content: space-between;
    display: none;
}

.bodyList .bodyListSect .bodyListSectCard .bodyListImg .bodyListImgIcons .bodyListImgIconsIc {
    background-color: var(--cola);
    padding: 6px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bodyList .bodyListSect .bodyListSectCard .bodyListImg .bodyListImgIcons .bodyListImgIconsIc:hover {
    background-color: #2d3c58;
}

@media (max-width: 1025px) {

    .bodyList {
        width: 100%;
        align-items: center;
    }

    .bodyList h2 {
        padding-left: 1px;
    }

    .bodyList .bodyListSect .bodyListSectCard .bodyListImg .bodyListImgIcons {
        display: flex;
    }

}