.dashBoard {
    position: relative;
    padding-bottom: 3rem;
    height: 100%;
}

.dashBoardSect {
    margin-left: 40px;
    padding: 0 1rem;
}

@media (min-width: 768px) {
    .dashBoardSect {
        margin-left: 220px;
    }
}