.ourNews {
    margin-top: 70px;
    min-height: 100vh;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.ourNews h2 {
    text-align: center;
    padding-top: 1rem;
    font-size: 2rem;
}