.modSongListImg {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.modSongListTable h2 {
    text-align: center;
    padding-bottom: 1rem;
}

@media (max-width: 768px) {

    .modSongListTable {
        width: 80vw;
    }
}