.navBarMenu {
    position: relative;
}

/* Portada */

.navBarMenuPortal {
    width: 50px;
    height: 50px;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: solid 1px var(--colb);
    overflow: hidden;
    cursor: pointer;
}

.navBarMenuPortal:hover img {
    transform: rotate(360deg);
}

.navBarMenuPortal img {
    transition: .3s ease-in-out;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navBarMenu p:hover {
    color: #aaaaaa;
}

/* Contenedor desplegable */

.navBarMenu section {
    width: 280px;
    position: absolute;
    top: 3.6rem;
    background-color: var(--colc);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.253);
    padding: 10px 12px;
    border-radius: 6px;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    right: 0;
    transition: visibility 0s, 0.3s ease-in-out;
}

.menuItemVewOpen {
    visibility: visible;
    opacity: 1;
}

.menuItemVewClosed {
    visibility: hidden;
    opacity: 0;
}

@media (max-width: 426px) {
    
    .navBarMenu section {
        top: 2.6rem;
    }
}

@media (max-width: 376px) {

    .navBarMenu section {
        right: 5px;
    }
}