.bodySongs {
    width: 80%;
    margin: 0 auto;
}

/* Title */

.bodySongs .bodySongsTit {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 93%;
    margin: 0 auto;
}

.bodySongs .bodySongsTit div {
    display: flex;
    gap: 1rem;
}

/* Sections */

.bodySongs .bodySongsTab {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
    padding: 2rem 0;
}

/* card */

.bodySongs .bodySongsTab .bodySongsTabCard {
    max-width: 280px;
    width: 100%;
    height: 60px;
    box-shadow: 0px 0px 5px black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    gap: 12px;
    padding-right: 1rem;
}

/* Crad img */

.bodySongs .bodySongsTab .bodySongsTabCard img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 6px;
}

/* text-card */

.bodySongs .bodySongsTab .bodySongsTabCard .bodySongsTabCardText {
    min-width: 0;
    flex: 1;
}

.bodySongs .bodySongsTab .bodySongsTabCard .bodySongsTabCardText p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    min-width: 0;
}

/* Play-Card */
.bodySongs .bodySongsTab .bodySongsTabCard .bodySongsTabCardPlay {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.bodySongs .bodySongsTab .bodySongsTabCard .bodySongsTabCardPlay:hover {
    background-color: #f8f8f818;
}

@media (max-width: 767px) {

    .bodySongs {
        width: 98%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .bodySongs .bodySongsTit {
        justify-content: center;
    }
}