.footerColumn {
    color: white;
}

.footerColumnText {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.footerColumnText p {
    color: gray;
    transition: .3s ease-in-out;
}

.footerColumnText p:hover {
    color: var(--cole);
}

.footerColumnPCMobile {
    display: none;
}

@media (max-width: 767px) {

    .footerColumnPC {
        display: none;
    }

    .footerColumnPCMobile {
        display: block;
    }

    .footerColumnPCMobile details {
        border-bottom: 1px solid #8080803a;
        width: 100%;
        padding-bottom: 1rem;
    }
}