.radio {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 70px;
    background-color: var(--cola);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;

    border-top: 2px solid #333;
    overflow: hidden;
}

.radio::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    width: var(--progress, 0%);
    background: linear-gradient(90deg, #00ffcc, #0066ff);
    transition: width 0.3s linear;
}

#radioTv {
    display: none;
}

/* Left */

.radio .radioBtns,
.radio .radioInputs {
    display: flex;
    align-items: center;
    gap: 6px;
}

.radioIcon {
    padding: 6px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.radioIcon:hover {
    background-color: var(--colee);
}

/* Center */

.radio .radioData {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.radio .radioData div h4 {
    font-size: 14px;
}

.radio .radioData img {
    width: 60px;
}

.radio .radioInputs {
    position: relative;
}


@media (max-width: 767px) {

    .radio {
        justify-content: center;
    }

    .radio .radioBtns p {
        display: none;
    }

    .radio .radioData {
        display: none;
    }

    .radio .radioInputs {
        display: none;
    }
}

input[type="range"] {
    position: absolute;
    left: -100%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100px;
    height: 4px;
    background: gray;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    background: gray;
    border-radius: 50%;
    border: 2px solid gray;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, transform 0.2s;
}

input[type="range"]::-webkit-slider-thumb:hover {
    transform: scale(1.2);
}

/* Thumb para Firefox */
input[type="range"]::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: #4CAF50;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

input[type="range"]::-moz-range-thumb:hover {
    background: #45a049;
    transform: scale(1.2);
}

/* Track en Firefox */
input[type="range"]::-moz-range-track {
    height: 6px;
    background: #ccc;
    border-radius: 3px;
}

/* Track en IE */
input[type="range"]::-ms-track {
    width: 100%;
    height: 6px;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type="range"]::-ms-fill-lower {
    background: #ccc;
    border-radius: 3px;
}

input[type="range"]::-ms-fill-upper {
    background: #ccc;
    border-radius: 3px;
}