.radio {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 70px;
    background-color: var(--cola);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    z-index: 5;
}

.radioProgress {
    position: fixed; 
    bottom: 70px; 
    left: 0;
    width: 100%;
    height: 4px;
    background: #333;
    cursor: pointer;
    z-index: 10;
}

.radioProgressFill {
    height: 100%;
    width: 0%;
    background: linear-gradient(90deg, #00ffcc, #0066ff);
    transition: width 0.2s linear;
}

.radioProgressFill {
    height: 100%;
    width: 0%;
    background: linear-gradient(90deg, #00ffcc, #0066ff);
    transition: width 0.3s linear;
}

#radioTv {
    display: none;
}

/* Left */

.radio .radioBtns,
.radio .radioInputs {
    display: flex;
    align-items: center;
    gap: 6px;
}

.radioIcon {
    padding: 6px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.radioIcon:hover {
    background-color: var(--colee);
}

/* Center */

.radio .radioData {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.radio .radioData div h4 {
    font-size: 14px;
}

.radio .radioData img {
    width: 60px;
}

.radio .radioInputs {
    position: relative;
}


@media (max-width: 767px) {

    .radio {
        justify-content: center;
    }

    .radio .radioBtns p {
        display: none;
    }

    .radio .radioData {
        display: none;
    }

    .radio .radioInputs {
        display: none;
    }
}

.radioInputsVol {
    width: 50px;
    justify-content: flex-end;
}

.radioInputsVol:hover input[type="range"],
.radioInputsVol:focus-within input[type="range"],
.radioInputsVol input[type="range"]:active {
    opacity: 1;
    pointer-events: auto;
}

input[type="range"] {
    opacity: 0;
    pointer-events: none;
    transition: .3s ease;
    position: absolute;
    left: -70%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100px;
    height: 4px;
    background: gray;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
    pointer-events: none;
    transition: .3s ease;
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    background: white;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, transform 0.2s;
}

input[type="range"]::-webkit-slider-thumb:hover {
    pointer-events: none;
    transition: .3s ease;
    transform: scale(1.2);
}