.navBarCont {
    width: 100%;
    height: 100%;
    background-color: var(--cole);
    color: var(--colf);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

/* left */

.navBarCont .navBarContNav {
    display: flex;
    align-items: center;
    gap: 6px;
}

/* Icon */

.navBarContNavMenu {
    width: 40px;
    height: 40px;
    padding: 6px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navBarContNavMenu:hover {
    background: var(--colee);
}

/* Title */

.navBarCont .navBarContNav .navBarContTit {
    display: flex;
    align-items: center;
    gap: 6px;
    text-decoration: none;
}

.navBarCont .navBarContNav .navBarContTit:hover h1 {
    color: gainsboro;
}

.navBarCont .navBarContNav .navBarContTit img {
    transition: .3s ease-in-out;
}

.navBarCont .navBarContNav .navBarContTit:hover img {
    transform: scale(1.1);
}

.navBarCont .navBarContNav .navBarContTit h1 {
    text-decoration: none;
    color: var(--colb);
}

/* center */

.navBarCont .navBarContCent {
    display: flex;
    align-items: center;
    gap: 3px;
    background-color: var(--cola);
    padding: 6px 1rem;
    max-width: 400px;
    width: 100%;
    border-radius: 8px;
}

.navBarCont .navBarContCent input {
    padding-left: 5px;
}

.navBarCont .navBarContCent input:hover {
    border: 1px solid var(--cola);
}

.navBarCont .navBarContCent input:focus {
    border: 1px solid var(--cola);
}