.listPage {
    margin-top: 70px;
    padding-bottom: 140px;
}

.listPage section {
    display: flex;
    flex-wrap: wrap;
}

.listPage section div:nth-child(1) {
    flex: 2;
}
.listPage section div:nth-child(1) {
    flex: 1;
}