.preView {
    margin-top: 70px;
    min-height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 20vh;
}

.preView .preViewTitle {
    text-align: center;
    margin: 2rem 0 1rem 0;
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    width: 90%;
    align-items: flex-end;
    padding-bottom: 1rem;
    border-bottom: 3px solid var(--colc);
}

.preView .preViewTitle .preViewTitleIcons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.preView .preViewList {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    max-width: 1000px;
    width: 90%;
}

.preView .preViewList .preViewListCard {
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 5px black;
    padding-right: 3px;
    border-radius: 8px;
}

.preView .preViewList .preViewListCard img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 8px;
}

.preView .preViewList .preViewListCard .preViewListCardText {
    margin-left: 6px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    flex: 1;
    min-width: 0;
}

.preView .preViewList .preViewListCard .preViewListCardText p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.preView .preViewList .preViewListCard .preViewListCardText>p:first-child {
    font-weight: 600;
    font-size: 12px;
    text-align: left;
}

.preViewListPlay {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.preViewListPlay:hover {
    background-color: #a5a5a525;
}

.preView .preViewBottom {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: var(--cold);
}

.preView .preViewBottom div {
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
}

.preView .preViewBottom div:hover {
    background-color: #a5a5a525;
}

@media (max-width: 767px) {

    .preView .preViewTitle {
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    .preView .preViewList {
        justify-content: center;
    }

    .preView .preViewBottom {
        margin-top: 2rem;
    }

}