.dashTitle  {
    border-bottom: 1px solid #1b263b96;
    width: 98%;
    margin: 1rem 0;
    padding-bottom: 10px;
}

.dashTitle .dashTitleLeft {
    display: flex;
    align-items: center;
    gap: 6px;
}

.dashTitle .dashTitleLeft h4 {
    font-size: 2rem;
    color: var(--colc);

}

.dashTitle .dashTitleLeft p {
    color: white;
    font-size: 10px;
}