.btnA {
    background-color: var(--cola);
    color: var(--colb);
    transition: .3s ease-in-out;
}

.btnF {
    background-color: var(--colf);
    color: var(--colb);
    transition: .3s ease-in-out;
}

.btn:hover {
    filter: brightness(0.9);
}