/* inputs */

input {
    width: 100%;
    height: 30px;
    border-radius: 3px;
    border: solid 1px var(--cola);
    padding-left: 5px;
    background-color: var(--cola);
    color: var(--colb);
}

input:hover {
    border: solid 1px black;
}

input:focus {
    border: solid 1px #007acc;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px var(--cola) inset !important;
    -webkit-text-fill-color: var(--colb) !important;
    transition: background-color 5000s ease-in-out 0s;
}

input:-moz-autofill {
    box-shadow: 0 0 0px 1000px var(--cola) inset !important;
    -moz-text-fill-color: var(--colb) !important;
}